.informationContainer {
  width: 100%;
  max-width: 280px;
  padding: 20px;
  background: #FFFFFF;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;

  @media (min-width: 767px) {
    border-bottom: none;
    border-right: 1px solid #f2f2f2;
  }

  .title {
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .description {
    position: relative;
    font-family: Helvetica-Oblique;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

    &:before,
    &:after {
      display: inline;
    }

    &:before {
      content: "“";
    }

    &:after {
      content: "”";
      position: absolute;
      bottom: 0;
      right: 1px;
    }
  }

  .infoTable {
    width: 100%;

    th, td {
      width: 50%;
      text-align: left;
      font-family: Helvetica;
    }

    th {
      font-size: 10px;
      color: #999999;
      letter-spacing: 0;
      line-height: 18px;
      text-transform: uppercase;
    }

    td {
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}
