.lazyImg {
  width: 320px;
  height: 300px;
  background: #FFFFFF;
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity 0.3s;
  }

  @media (min-width: 767px) {
    width: 238px;
    height: 238px;
  }
}