.ticket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: 767px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 767px) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}