@import '~react-datepicker/src/stylesheets/datepicker-cssmodules';

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  display: block;
}

.filterDate {
  background: #FFFFFF;
  padding: 18px 30px;
  margin-bottom: 20px;

  .title {
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
  }

  .datesList {
    padding: 10px 20px;

    .availableDate {
      font-family: Helvetica;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
      margin-bottom: 10px;
      appearance: none;
      border: none;
      display: block;
      outline: none;

      &.selectedDate,
      &:hover {
        cursor: pointer;
        color: #409CD1;
        font-weight: bold;
      }
    }
  }

  .datePicker {
    outline: none;
    height: 34px;
    line-height: 34px;
    border: 1px solid #CCCCCC;
    font-family: Helvetica;
    font-size: 14px;
    color: #CCCCCC;
    letter-spacing: 0;
    padding: 0 20px 0 40px;
    display: block;
    width: calc(100% - 60px);
    background: url(./calendar.png) no-repeat center left 10px;
  }
}