.sorterWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  .label {
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
  }

  .select {
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 30px 10px 10px;
    margin-left: 10px;
    background: #fff url(./select-arrow.png) no-repeat center right 10px;
    background-size: 7px;
    border-radius: 0;
    border: 1px solid #ccc;
    font-family: Helvetica;
    font-size: 12px;
    color: #333333;
    outline: none;

    &::-ms-expand {
      display: none;
    }
  }
}