.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 767px) {
    width: auto;
  }

  .inner {
    position: relative;
    max-width: 320px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff center center no-repeat;

    @media (min-width: 767px) {
      max-width: 238px;
      max-height: 238px;
    }
  }

  &:hover {
    cursor: pointer;

    .hearth {
      opacity: 1;
    }
  }

  .starsContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    left: 10px;

    .star {
      margin-right: 5px;
    }
  }

  .reviews {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: Helvetica;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 18px;
    display: flex;
    justify-content: center;
  }

  .hearth {
    position: absolute;
    z-index: 10;
    opacity: .7;
  }

  .discountTriangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent #e74d3c transparent transparent;

    .discount {
      display: block;
      width: 45px;
      height: 45px;
      transform-origin: left;
      text-align: center;
      font-size: 11px;
      transform: translate(5%, -24%) rotate(-315deg);
      font-family: Helvetica-Bold;
      color: #FFFFFF;
    }
  }
}
