.filtersWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  flex: 0.5 1 auto;
  margin: 0;

  @media (max-width: 1090px) {
    padding-top: 20px;
  }

  @media (max-width: 767px) {
    flex: 1 1 auto;
  }

  .title {
    background: #409CD1;
    padding: 14px 24px;
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 10px;
  }
}