:global {
  @import '~react-input-range/lib/css/index';

  .input-range > .input-range__label {
    display: none;
  }

  .input-range__label {
    font-family: Helvetica;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
  }

  .input-range__slider {
    background: #FFFFFF;
    border-color: #409CD1;
  }

  .input-range__track--active {
    background: #409CD1;
  }
}


.filterRange {
  background: #FFFFFF;
  padding: 18px 30px;

  .title {
    font-family: Helvetica-Bold;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 30px;
  }


}