.priceContainer {
  max-width: 280px;
  padding: 20px;
  background: #FFFFFF;
  text-align: left;
  font-family: Helvetica;
  min-width: 238px;

  .priceTitle,
  .price {
    text-align: right;
    line-height: 23px;
    color: #333333;
  }

  .priceTitle {
    font-family: Helvetica-Bold;
    font-size: 14px;
    letter-spacing: 0;
  }

  .price {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .priceIcon {
    width: 20px;
    margin: 0 0 -4px 5px;
  }

  .devider {
    width: 100%;
    height: 1px;
    background: #f2f2f2;
  }

  .datesTable {
    width: 100%;
    margin: 10px 0;

    td {
      width: 50%;
      font-size: 12px;
      color: #333333;
      line-height: 20px;
      padding-left: 20px;

      &.availability {
        text-align: right;
        padding-left: 0;
        padding-right: 20px;
      }

      &.low {
        color: #E74C3C;
      }
    }
  }

  .viewMoreBtn {
    margin-top: 10px;
    display: block;
    text-align: center;
    background: #409CD1;
    border-radius: 1px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
    padding: 10px;
    text-decoration: none;
  }
}
